  .btn.btn-light-blue.btn-md {
    width: 100%;
    background-color: #4b0076;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }

  .btn.btn-light-blue.btn-md:hover {
    background-color: #7a03be;
  }

  .btncirc {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 10px;
    background-color: #4b0076;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 18px;
    border: none;
    outline: none;

  }
  
  .btncirc:hover {
    background-color: #7a03be;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8)
  }

