      /* footer section */
      .footer {
        background-color: #000000;
        background-size: cover;
        padding: 20px;
      }

      .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      .footer-section {
        flex-basis: 33%;
        text-align: center; 
      }

      .footer-title {
        font-size: 20px;
        color: #ffffff;
      }

      .footer-logo {
        width: 90px;
        height: 40px;
        margin-top: 10px;
      }

      .footer-address {
        color: #ffffff;
      }

      .footer-images {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }

      .footer-images img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
      }

      /* bottom bar section */
      .bottom-bar {
        position:relative;
        text-align:center;
        font-size:.8em;
        text-transform:uppercase;
        background:#000000;
        color: #ffffff;
        padding:15px 0;
      }
        
      .social-icon {
        transition: transform 0.3s ease;
      }

      .social-icon:hover {
        transform: scale(1.1);
      }

      .footer-logo {
        transition: transform 0.3s ease;
      }

      .footer-logo:hover {
        transform: scale(1.1);
      }
      /* footer section finish*/