/* Large devices (desktops, 1200px and up)*/
@media (max-width: 1200px) {
  
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {
  
}

/* Small devices (768px and down) */
@media (max-width: 768px) {
  
}

/* Extra Small devices (480px and down) */
@media (max-width: 480px) {
  
}

/* Font colour and Background*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff
}

body {
  color: #494949 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding-top: 56px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-size: 16px;
  margin: 10px;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
}

.logo img {
  width: 100px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
}

.navbar-links ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navbar-links ul li {
  list-style: none;
  margin: 0 10px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links ul li a:hover {
  background-color: #ffffff;
  color: #561783;
  height: 100%;
}

.togglebtn {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.cart {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move the cart to the right */
  margin-right: 20px; /* Adjust the margin as desired */
}

.cart-icon {
  color: #ffffff;
  text-decoration: none;
}

.cart-count {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .togglebtn {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-links ul li {
    text-align: center;
    margin: 10px 0;
  }

  .navbar-links ul li a {
    padding: 16px;
  }

  .navbar-links.active {
    display: flex;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}